body {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #eee;
  margin: 0;
  padding: 0;
}

#password-protect {
  margin: 100px auto;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #a64bf4;
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 6px;
  outline: none;
}

button:hover {
  background-color: #a64bf4;
  cursor: pointer;
}

#content {
  padding: 20px;
}

form {
  margin-bottom: 30px;
}

#video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#video-gallery div {
  background-color: #2a2a2a;
  border: 1px solid #a64bf4;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 10px #a64bf480;
}

#video-gallery img {
  width: 200px;
  border-radius: 6px;
}
